@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode (default) */
  --bg: hsl(0, 0%, 98%);
  --text: hsl(0, 0%, 7%);
  --text-secondary: hsl(0, 0%, 27%);
  --primary: hsl(352, 81%, 38%);
  --secondary: hsl(312, 60%, 30%);
  --accent: hsl(356, 72%, 50%);
}

html.dark {
  /* Dark Mode */
  --bg: hsl(240, 10%, 5%);
  --text: hsl(0, 0%, 93%);
  --text-secondary: hsl(240, 3%, 65%);
  --primary: hsl(0, 96%, 27%);
  --secondary: hsl(311, 63%, 22%);
  --accent: hsl(351, 73%, 45%);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.mobile-nav {
  display: none;
}

@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }

  footer {
    display: none !important;
  }

  .mobile-nav {
    display: flex;
  }
}

h1,
h2,
h3 {
  color: var(--primary);
}

a,
button {
  color: var(--accent);
}
